<div class="flex-container__outer--bigger--light-back">
    <div class="flex-container__inner_dev">
        <div class="flex-container__column--four">
                <h2 class="h2 h2--center--dark">Das steckt drin</h2>
            <div class="flex-container__image--Coffee_Costa-Rica_2.png">
                <img class="product__img" src="images/FEND_Coffee_Costa-Rica 1.png" alt="Costa-Rica-Coffee">
            </div> 
                {{>symbols}}
             <button class="button">alle Produkte</button>
        </div>
    </div>
</div>