<div class="flex-container__outer--bigger--dark-back">
    <div class="flex-container__inner_dev">
    
    
        <h2 class="h2 h2--left h2--left--white">Entdecke unsere Kaffee Sorten</h2>

        <div class="flex-container__four-items">

            <div class="flex-container__two-items">
            
                <div class="flex-container__image">
           
                    <img class="product__img" src="images/FEND_Coffee_Costa-Rica 1.png" alt="Costa-Rica-Coffee">
                        <figure class="product__txt-box">
                        ola
                        </figure>
                </div> 
                <div class="flex-container__image">
           
                    <img class="product__img" src="images/FEND_Coffee_Costa-Rica 1.png" alt="Costa-Rica-Coffee">
                        <figure class="product__txt-box">
                        ola
                        </figure>
                </div> 
            </div>


            <div class="flex-container__two-items">
            
                <div class="flex-container__image">
           
                    <img class="product__img" src="images/FEND_Coffee_Costa-Rica 1.png" alt="Costa-Rica-Coffee">
                        <figure class="product__txt-box">
                        ola
                        </figure>
                </div> 
                <div class="flex-container__image">
           
                    <img class="product__img" src="images/FEND_Coffee_Costa-Rica 1.png" alt="Costa-Rica-Coffee">
                        <figure class="product__txt-box">
                        ola
                        </figure>
                </div> 
            </div>
       
        </div> 

    </div>
    
    <button class="button">alle Produkte</button>
    
</div>
       