<div class="wrap--light-back">
    <div class="flex-container__inner_dev">
    
    
        <h2 class="h2 h2--left--black">Bio und Fair</h2>
       
       
        <div class="flex-container__text--regular">
        <article class="content">Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. 
                                 Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. 
                                 Und das alles in bester Bio Qualität</article>
        </div>

        <div class="wrap__image__inner  wrap__image__inner--plant">
            <img class="primary__image--plant" src="/images/FEND-coffee-plant.png" alt="coffee-plant with green, yellow, red coffee berries">
            <div class="push"></div>
        </div> 
    </div>
    
</div>