<div class="wrap--light-back">
    <div class="flex-container__inner_dev">
    
    
        <h2 class="h2 h2--left h2--left--black">Rösterei &amp Café</h2>
       
        <article class="content">Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen Rösterei, serviert im gemütlichen Café in der Innenstadt.</article>
        

        <div class="flex-container__text--two-items">
           
            <article class="adress">Komm uns besuchen!<br>Fraunhoferstr. 13 Kiel</article>
            <article class="openings">Mo – Fr 8–18 Uhr<br> Sa 11–18 Uhr</article>
        </div> 

        <div class="wrap__image__inner  wrap__image__inner--shop">
            <div class="push"></div>
            <img class="primary__image--shop" src="images/FEND-Coffee-shop.png" alt="people working and talking inside the Coffee-shop">
        </div> 

    </div>
    
</div>
       