<div class="flex-container__outer--small--light-back--map">
    <div class="flex-container__inner_dev-1">
    
        <div class="border">
        <h2 class="h2 h2--left h2--left--black">Komm vorbei</h2>
        </div>

        <div class="flex-container__map">

       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4651.7118044568315!2d10.122021!3d54.341855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b2560c505797eb%3A0xf549da0f074162a9!2sFraunhoferstra%C3%9Fe%2013%2C%2024118%20Kiel!5e0!3m2!1sde!2sde!4v1643554149361!5m2!1sde!2sde" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
       