<div class="wrap__image">
    <img class="primary__image--coffe-latte"  src="images/FEND-Coffee-latte-art.png" alt="three people cheering with coffee" >
    <div class="heading__container">
        <h1 class="h1 h1__primary--main">Rustica</h1>
        <h1 class="h1 h1__primary h1__primary--sub">Bio und Fair seit 1991</h1>
        <!--<a href="#" class="btn btn--white btn--animated">zum Shop</a> -->
    </div>      
</div>