
<div class="flex-wrap__row--symbols">
   
        <div class="flex-container__column--symbol">
            <div class="image-wrap--symbl-txt">
                <img class="cup" src="images/Icon Kaffee Tasse.png" alt="Coffe-Cup-Icon">
                <article class="tags">Yuhuhuhu</article>
            </div>
        </div> 

        <div class="flex-container__column--symbol">
            <div class="image-wrap--symbl-txt">
                <img class="cup" src="images/Icon Kaffee Tasse.png" alt="Coffe-Cup-Icon">
                <article class="tags">Yuhuhuhu</article>
            </div>
        </div> 
            
        <div class="flex-container__column--symbol">
            <div class="image-wrap--symbl-txt">
                <img class="cup" src="/images/Icon Kaffee Tasse.png" alt="Coffe-Cup-Icon">
                <article class="tags">Yuhuhuhu</article>
            </div>
        </div> 
    
</div>


